.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 900px;
  /* Defina a largura máxima do container conforme necessário */
  width: 100%;
  border-radius: 10px;
  /* Define o raio das bordas */
  background-color: #807d7d;
  /* Cor de fundo do container */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* Sombra para destacar o container */
}

.main {
  display: inline-flex;
  align-items: center;
}

.forms {}

.vertical_line {
  
  color: #1a161670;
}

.qrcode {}


/* fim */




/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}